@tailwind base;
@tailwind components;
@tailwind utilities;

/* Important */
body {
  font-family: var(--primary-font), sans-serif;
}

:root {
  --primary-font: var(--primary-font);
  --secondary-font: var(--secondary-font);
}

.primary-font {
  font-family: var(--primary-font);
}

.secondary-font {
  font-family: var(--secondary-font);
}

/* Custom Scrollbar */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(228, 50, 50, 0.943);
  border-radius: 10px;
}

.arrow:before {
  content: "👉";
  padding-right: 5px;
}

.myLink {
  position: relative;
}

.link {
  display: none;
}

.myLink:hover > .link {
  display: block;
  position: absolute;
  left: 45%;
  top: 45%;
}

@layer components {
  .sub-menu {
    @apply absolute top-[4.2rem] p-[15px] rounded-[6px] origin-[50%_-170px] backdrop-blur bg-white;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center;
  }
  .flex-center-between {
    @apply flex items-center justify-between;
  }
  .animate-slow-zoom {
    animation: slow-zoom 20s ease-in-out infinite;
  }
}

@keyframes slow-zoom {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
